fastapi
uvicorn
sqlalchemy
pyodbc           # For SQL Server
pymysql          # For MySQL
psycopg2-binary  # For PostgreSQL
python-dotenv
python-jose[cryptography]
bcrypt==4.1.3
passlib[bcrypt]==1.7.4
requests
groq
openpyxl
email-validator
sqlglot